.img-animated-pokemon {
    width: 5rem;
    height: auto;
}
li {
    list-style: none;
    margin-bottom: 0;
}

.data-container, .pokemon-container {
    display: inline-grid;
}

.pokemon-container {
    grid-template-columns: auto auto;
    column-gap: 10px;
}
.caught-pokemon-list-item {
    margin: 10px 0;
}
.text-bold {
    font-weight: bold;
}

.in-party-img {
    width: 20px;
    position: absolute;
    transform: translate(-60%, -40%);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}