<h4 class="trainer-name">Trainer name: {{name}}</h4>
<div class="type-container">
    <a class="selected-type" (click)="selectedType='caughtList'" [ngClass]="(selectedType==='caughtList') ? 'selected' : ''">Caught Pokemons</a>
    <a class="selected-type" (click)="selectedType='partyList'" [ngClass]="(selectedType!=='caughtList') ? 'selected' : ''">Party</a>
</div>
<main>
    <app-caught-pokemon-list *ngIf="selectedType==='caughtList'"></app-caught-pokemon-list>
    <app-pokemon-party *ngIf="selectedType!=='caughtList'"></app-pokemon-party>
</main>